
<div class="section section_map is-animated"  >
	<div class="section__bg " aria-hidden="true"></div>
	<h2 class="title__section js-cut" aria-level="2" role="heading" data-stagger >Buy aloha in a store near you!</h2>
	<div class="map" data-stagger >
		<div id="map" >
			<!-- <img src="static/img/content/map.png" alt=""> -->
		</div>
		<div class="map__wrap">
			<form action="/" method="post" class="map__form">
				<fieldset class="map__fieldset">
					<input  type="text" id="zip" class="map__zip" placeholder="Enter ZIP code"  data-stagger >
					<button class="btn map__btn anim-buble" data-stagger>check</button>
				</fieldset>
			</form>
			<div class="map__location"  data-stagger >
				<h2 class="title__g" role="heading" aria-level="2"  data-stagger  >Kōloa Rum Company Store <br> & Tasting Room</h2>
				<div class="map__address"  data-stagger >
					<p class="desc__rl">Kilohana Plantation, 3-2087</p>
					<p class="desc__rl">Kaumualii Highway, Lihue, Kauai.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section_buy is-animated">
		<h2 class="title__section js-cut" aria-level="2" role="heading" data-stagger  >buy aloha online</h2>
		<button class="btn btn-border"  data-stagger >
			<i class="icon-drizly"></i>
			buy online
		</button>
	</div>
</div>