// File for sass-vars.
$n: transparent
$gold: #e1caae
$subnavbg: #e3e4e8


.icon-arrow
	display: inline-block
	vertical-align: top
	height: 7px
	width: 12px
	position: absolute
	top: 110%
	left: 50%
	fill: rgba(0, 0, 0, 0.3)
	transform: translateX(-50%)
	animation: down 1.4s infinite

.icon-drizly
	display: inline-block
	vertical-align: top
	width: 44px
	height: 36px
	background-image: url('../img/content/drizly.png')
	background-size: 44px

.arrow
	&-left
		display: inline-block
		vertical-align: top
		@include bg-svg($arrow-left)
	&-right
		display: inline-block
		vertical-align: top
		@include bg-svg($arrow-left)
		+scale(-1)


@keyframes down
	0%
		top: 110%
	50%
		top: 140%
		fill: rgba(0, 0, 0, 0.8)

#vazon
	.st0
		filter: url(#a)
	.st1
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#172228
	.st2
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#172D37
	.st3
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#17353C
	.st4
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#173F47
	.st5
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#172F38
	.st6
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#193837
	.st7
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#1E4A49
	.st8
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#426054
	.st9
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#8B9268
	.st10
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#771F1B
	.st11
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#BB3636
	.st12
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#E17453
	.st13
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#DC494A
	.st14
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#E8A074
	.st15
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#10302F
	.st16
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#5E815E
	.st17
		fill-rule: evenodd
		clip-rule: evenodd
		fill:#ABAA1E