
<header class="header">
	<div class="layout">
		<a href="index.hrml" class="logo" >kōloa rum co.</a>
		<div class="trigger">
			<span  class="trigger__item"></span>
		</div>
		<div class="header__wrap">
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">visit</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">rums</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">about</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">contact</a>
					</li>
				</ul>
			</nav>
			<div class="header__btns">
				<a href="#" class="btn btn-white " >distributors</a>
				<a href="" class="btn btn-black" >BUY rum</a>
			</div>
		</div>
	</div>
</header>