
<header class="header">
	<a href="index.hrml" class="logo"  data-aos="fade-down" data-aos-offset="20" data-aos-delay="400">kōloa rum co.</a>
	<div class="trigger"  data-aos="fade-down" data-aos-offset="20" data-aos-delay="450">
		<span  class="trigger__item"></span>
	</div>
	<div class="header__wrap">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"  data-aos="fade-down" data-aos-offset="20" data-aos-delay="450">
					<a href="#" class="nav__link">visit</a>
				</li>
				<li class="nav__item"  data-aos="fade-down" data-aos-offset="20" data-aos-delay="500">
					<a href="#" class="nav__link">rums</a>
				</li>
				<li class="nav__item"  data-aos="fade-down" data-aos-offset="20" data-aos-delay="550">
					<a href="#" class="nav__link">about</a>
				</li>
				<li class="nav__item"  data-aos="fade-down" data-aos-offset="20" data-aos-delay="600">
					<a href="#" class="nav__link">contact</a>
				</li>
			</ul>
		</nav>
		<div class="header__btns">
			<a href="#" class="btn btn-white "  data-aos="fade-up" data-aos-offset="20" data-aos-delay="300">distributors</a>
			<a href="" class="btn btn-black"  data-aos="fade-up" data-aos-offset="20" data-aos-delay="350">BUY rum</a>
		</div>
	</div>
</header>