code,
kbd,
tt,
var,
samp,
pre {
  font-family: monospace, serif;
  font-size: 15px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.6; }

pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

blockquote {
  color: #767676;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 24px;
  max-width: 75%;
  margin: 0 auto 25px auto; }

blockquote cite,
blockquote small {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal; }

blockquote strong,
blockquote b {
  font-weight: 400; }

small {
  font-size: smaller; }

big {
  font-size: 125%; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

dl {
  margin-bottom: 24px; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 24px; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 24px;
  min-width: inherit;
  padding: 11px 12px 0; }

legend {
  white-space: normal; }

/* Alignment */
.alignleft {
  float: left;
  margin: 0 20px 15px 0; }

.alignright {
  float: right;
  margin: 0 20px 0 15px; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
  margin: 7px 24px 7px 0; }

.wp-caption.alignleft {
  margin: 7px 14px 7px 0; }

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
  margin: 7px 0 7px 24px; }

.wp-caption.alignright {
  margin: 7px 0 7px 14px; }

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
  margin-top: 7px;
  margin-bottom: 7px; }

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  width: 50%; }

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
  margin-bottom: 17px; }

.wp-caption {
  margin-bottom: 24px; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0; }

/*spinner*/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.gform_wrapper .gform_ajax_spinner {
  border: 4px solid rgba(50, 50, 50, 0.1);
  border-left: 4px solid #56565a;
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute; }

.desc__f p {
  color: #6e6e6e;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 2em; }

/*gform*/
.gform_wrapper ul {
  padding: 0;
  margin: 0; }
  .gform_wrapper ul li {
    padding: 0;
    list-style: none;
    margin: 0; }

.connect__form .gform_confirmation_message {
  color: #268276;
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Roboto-Bold', Arial, sans-serif; }

.scnt_frm_wrapper .validation_error, .scnt_frm_wrapper .gfield_label {
  display: none; }
.scnt_frm_wrapper .scnt_frm {
  position: relative; }
  .scnt_frm_wrapper .scnt_frm:after {
    content: "";
    clear: both;
    display: table; }
.scnt_frm_wrapper .gform_body {
  width: 70%;
  width: -moz-calc(calc(100% - 130px));
  width: -webkit-calc(calc(100% - 130px));
  width: -o-calc(calc(100% - 130px));
  width: calc(calc(100% - 130px));
  float: left; }
  .scnt_frm_wrapper .gform_body input {
    height: 48px;
    border: none;
    border-radius: 0;
    line-height: 48px;
    padding: 4px 14px;
    font-size: 16px;
    color: #000;
    background-color: #F5F5F6; }
.scnt_frm_wrapper .gfield_description.validation_message {
  position: absolute;
  color: #f90000;
  bottom: -20px;
  font-size: 14px; }
.scnt_frm_wrapper .gform_ajax_spinner {
  top: 50%;
  margin: -10px 0 0 0;
  right: -25px; }
.scnt_frm_wrapper .gform_footer {
  float: left; }

.list-dots__item[data-stagger].is-animated {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.rppagers .rp-pager {
  float: right;
  margin: 0; }

.rppagers .rp-pager li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  vertical-align: middle; }

.rppagers .op a.current {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1; }

.rppagers .op a {
  background-color: #000;
  width: 40px;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff; }

.rppagers:after, .rppagers:before {
  content: "";
  clear: both;
  display: table; }
.rppagers a {
  font-size: 14px;
  line-height: 1;
  padding: 0 5px;
  position: relative; }
  .rppagers a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, opacity 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
  .rppagers a:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    opacity: 1; }
.rppagers a.prevp, .rppagers a.nextp {
  background-color: #000;
  line-height: 40px;
  display: inherit;
  color: #fff; }
  .rppagers a.prevp:hover, .rppagers a.nextp:hover {
    background-color: transparent;
    color: #000; }

.rppagers .op a {
  color: #fff; }
  .rppagers .op a:hover {
    background-color: transparent;
    color: #000; }

.rppagers .op a.current.disabled {
  cursor: no-drop;
  background-color: #ccc; }
  .rppagers .op a.current.disabled:hover {
    background-color: #ccc;
    color: #fff; }
    .rppagers .op a.current.disabled:hover:before {
      box-shadow: none; }

/*# sourceMappingURL=main.css.map */
